
<br/>
<div style="text-align: center;">
<span id="msg" style="font-size:40%;">Ready</span>


<input id="sendbtn" type="button" onclick="login()" value="{{i18n "send"}}" class="wideButton" {{#if autosend }}style="display:none;"{{/if}}>	


</div>
</form>

  
</body>
</html>
